<body>
  <div class="container">
    <mat-spinner *ngIf="show"></mat-spinner>
    <div id="game" class="justify-center flex-column" *ngIf="game">
      <!-- HUD -->
      <div id="hud">
        <div id="hud-item" class="justify-center">
          <p class="progressText">Question</p>
          <div class="col-progressBar">
            <mat-progress-bar
              class="progressBar"
              color="primary"
              mode="determinate"
              [value]="value"
            >
            </mat-progress-bar>
          </div>
        </div>
        <div id="hud-item" class="justify-center">
          <p class="scoreText">Score</p>
          <h2 class="scoreProgress">100</h2>
        </div>
      </div>
      <!-- QUESTION -->

      <mat-card>
        <h2 id="question">Some question are display here</h2>
        <div class="choice-container">
          <p class="choice-prefix">A</p>
          <p class="choice-text" data-number="1">Answer 1</p>
        </div>

        <div class="choice-container">
          <p class="choice-prefix">B</p>
          <p class="choice-text" data-number="2">Answer 2</p>
        </div>

        <div class="choice-container">
          <p class="choice-prefix">C</p>
          <p class="choice-text" data-number="3">Answer 3</p>
        </div>

        <div class="choice-container">
          <p class="choice-prefix">D</p>
          <p class="choice-text" data-number="4">Answer 4</p>
        </div>
      </mat-card>
    </div>
  </div>
</body>
